body {
    font-family: Arial, sans-serif;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
    margin: 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.landing-container input {
    margin-bottom: 0px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
}

.landing-container button {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.landing-container button:hover {
    background-color: #0056b3;
}

/* .chat-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
} */

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #007bff 10%, #0056b3 100%);
    color: #fff;
    border-radius: 10px 10px 0 0;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0px;
}

.chat-header button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ff4d4d;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.chat-header button:hover {
    background-color: #ff1a1a;
}

.chat-content {
    display: flex;
    flex: 1;
}

.friends-list-container {
    width: 270px; 
    padding: 20px;
    background-color: #f9f9f9;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.friends-list-container h3 {
    margin: 0 0 10px 0;
    font-size: 22px;
    color: #333;
}

.friends-list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.friends-list-container ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #e9ecef;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: normal;
    word-wrap: break-word;
    max-width: 100%;
}

.friends-list-container ul li:hover {
    background-color: #d1e7dd;
}

.friends-list-container .status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #28a745;
    margin-right: 10px;
}

.friends-list-container .username {
    font-size: 16px;
    color: #333;
}

.friends-list-container .username_select {
    font-size: 16px;
    color: #2321b7;
}

.friends-list-container input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .friends-list-container input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .friends-list-container  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .email-form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.email-form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.email-form-container form {
    display: flex;
    flex-direction: column;
}

.email-form-container label {
    margin-bottom: 5px;
    font-weight: normal;
    color: #555;
    font-size: 15px;
}

.email-form-container input[type="email"],
.email-form-container input[type="text"],
.email-form-container textarea {
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.email-form-container input[type="email"]:focus,
.email-form-container input[type="text"]:focus,
.email-form-container textarea:focus {
    border-color: #007bff;
    outline: none;
}

.email-form-container textarea {
    height: 100px;
    resize: vertical;
}

.email-form-container button {
    margin-top: 5px;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.email-form-container button:hover {
    background-color: #0056b3;
}


.chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}

.chat-input {
    display: flex;
    padding: 20px;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 18px;
}

.chat-input button {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.chat-input button:hover {
    background-color: #0056b3;
}

#chat-msg {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#chat-msg li {
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    max-width: 75%;
    word-wrap: break-word;
    font-size: 18px;
}

#chat-msg li.left-align {
    text-align: left;
    background-color: #f1f1f1;
}

#chat-msg li.right-align {
    text-align: right;
    background-color: #d1e7dd;
    margin-left: auto;
}

.highlighted {
    background-color: green;
    color: white; /* Optional: to make the text color more readable */
}

.center_user {
    color: green;
    font-weight: bold;
    text-align: center;
}


.confirm_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Style the tab layout */
/* Tab container styling */
.tab-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 1px;
}

/* Tab links styling */
.tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #007bff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.tabs li {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tabs li.active,
.tabs li:hover {
    background-color: #0056b3;
}

/* Tab content styling */
.tab-content {
    display: none;
    padding: 0px 0px 0px 0px;
}

.tab-content.active {
    display: block;
}

/* Additional styling for chat content */
.chat-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.chat-content {
    display: flex;
    justify-content: space-between;
}

.friends-list-container {
    width: 30%;
}

.chat-messages {
    width: 65%;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #0056b3;
}

/** tyling for tab menu */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    min-height: 45px;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /*padding: 6px 12px;*/
    padding: 0 0 0 0;
    border-top: none;
}

.tabcontent h3 {
    margin-top: 0;
}

.flex-container {
  display: flex;
  width: 100%;
  background-color: skyblue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 5px;
  padding: 20px;
  font-size: 20px;
}
