<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Buzz - Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-login.css') }}">
</head>
<body>
    <header>
        <h1>Go Buzz</h1>
    </header>
    <div class="container">
        <div class="card">
            <h2>Sign Up</h2>
            <form id="signup-form" class="signup-form" action="{{ url_for('signup') }}" method="post">
                <label class="form-label">Username</label>
                <input class="form-input" type="text" name="username" id="username" required>
                
                <label class="form-label">Email</label>
                <input class="form-input" type="email" name="email" id="email" required>
                
                <label class="form-label">Password</label>
                <input class="form-input" type="password" name="password" id="password" required>
                
                <label class="form-label">Confirm Password</label>
                <input class="form-input" type="password" name="confirm_password" id="confirm_password" required>
                
                <input class="form-submit btn" type="submit" value="Sign Up">
                {% if msg %}
                <p style="color: red;">{{ msg }}</p>
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>
